html {
    font-size: 10px;
}

  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

:root {
    --color-black: #050522;
    --color-pink: #EF5858;
    --color-yellow: #FFDE69;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}
